@media only screen and (max-width: 1020px) {
    .hb {
        display: block;
    }
}

@media only screen and (max-width: 1020px) {
    .menu .logo {
        margin-left: 20px;
        flex-grow: 1;
    }
}

@media only screen and (max-width: 1020px) {
    .menu a img {
        height: 25px;
    }
}

@media only screen and (max-width: 1020px) {
    .menu .b_m {
        display: none;
    }
}

@media only screen and (max-width: 414px) {
    .menu .language_dropdown .icon_wrapper {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 414px) {
    .kv .slogan .box img {
        width: 60%;
        margin-bottom: 10px;
    }
}

.kv .slogan .box h3 {
    font-size: 50px;
    line-height: 52px;
    font-family: "Black Ops One", cursive;
    color: #11cdd4;
}

@media only screen and (max-width: 414px) {
    .kv .slogan .box h3 {
        font-size: 40px;
        line-height: 45px;
    }
}

.kv .slogan .box p {
    font-size: 14px;
}

.all_box .tittle_left p {
    text-align: left;
    letter-spacing: 1px;
}

@media only screen and (max-width: 414px) {
    .flow .tag .txt h2 {
        font-size: 22px;
        line-height: 28px;
    }
}

@media only screen and (max-width: 414px) {
    .scebox .scetxt h2 {
        line-height: 36px;
    }
}

.newsbox .info a h2 {
    font-size: 13px;
    height: 100px;
    line-height: 20px;
}

@media only screen and (max-width: 576px) {
    .footer .menu_container {
        padding: 50px;
    }
}

.footer .menu_container .menu_list {
    width: 240px;
}

.footer .menu_container .logo_copyright {
    margin-left: 20px;
}