@media only screen and (max-width: 1200px) {
    .hb {
        display: block;
    }
}

@media only screen and (max-width: 1200px) {
    .menu .logo {
        margin-left: 20px;
        flex-grow: 1;
    }
}

@media only screen and (max-width: 1200px) {
    .menu .b_m {
        display: none;
    }
}

@media only screen and (max-width: 414px) {
    .menu .language_dropdown .icon_wrapper {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 1200px) {
    .menu .cta_btn {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .kv .bg .container {
        width: 80%;
    }
}

.kv .slogan .container .title h2 {
    margin-top: 10px;
    font-size: 15px;
}

@media only screen and (max-width: 976px) {
    .kv .slogan .container .title h2 {
        font-size: 14px;
    }
}

.kv .slogan .container .desc h1 {
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 24px;
}

@media only screen and (max-width: 976px) {
    .kv .slogan .container .desc h1 {
        font-size: 21px;
    }
}

.kv .slogan .container .desc h2 {
    letter-spacing: 1.2px;
    font-size: 16px;
    line-height: 1.5;
}

@media only screen and (max-width: 976px) {
    .kv .slogan .container .desc h2 {
        font-size: 15px;
    }
}

.kv .slogan .container .desc p {
    font: 15px "Noto Sans SC";
    letter-spacing: 1.5px;
    margin-top: 10px;
    width: 75%;
    line-height: 1.6;
}

@media only screen and (max-width: 976px) {
    .kv .slogan .container .desc p {
        width: 100%;
        font: 12px "Noto Sans SC";
    }
}

.kv .slogan .container .cta_btn a {
    padding: 8px 25px;
    font-size: 16px;
    letter-spacing: 2px;
}

@media only screen and (max-width: 414px) {
    .kv .slogan .box img {
        width: 60%;
        margin-bottom: 10px;
    }
}

.kv .slogan .box h3 {
    font-size: 50px;
    line-height: 52px;
    font-family: "Black Ops One", cursive;
    color: #11cdd4;
}

@media only screen and (max-width: 414px) {
    .kv .slogan .box h3 {
        font-size: 40px;
        line-height: 45px;
    }
}

.kv .slogan .box p {
    font-size: 14px;
}

.all_box .tittle_left p {
    text-align: left;
    letter-spacing: 1px;
}

@media only screen and (max-width: 414px) {
    .flow .tag .txt h2 {
        font-size: 22px;
        line-height: 28px;
    }
}

@media only screen and (max-width: 414px) {
    .scebox .scetxt h2 {
        line-height: 36px;
    }
}

.newsbox .info a h2 {
    font-size: 13px;
    height: 100px;
    line-height: 20px;
}

@media only screen and (max-width: 576px) {
    .footer .menu_container {
        padding: 50px;
    }
}

.footer .menu_container .menu_list {
    width: 240px;
}

.footer .menu_container .logo_copyright {
    margin-left: 20px;
}